@font-face {
	font-family: ReturnOfGanon;
	src: url("fonts/returnofganon.ttf") format('truetype');
}

@font-face {
	font-family: ZeldaDX;
	src: url("fonts/zeldadxttbrk.ttf") format('truetype');
}

body {
	font-family: ReturnOfGanon, 'VT323', monospace;
	color: lawngreen;
	background: url(../images/videogame-bg.png) no-repeat center fixed;
	background-size: cover;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

#hearts {
	color: red;
}

h1, h2 {
	font-family: ZeldaDX, 'VT323', monospace;
}

.whtRndBrdr {
	border: 2px solid white;
	border-radius: 10px;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.5);
	/* filter: blur(10px); */
}

/* to create a blur effect on the background */
.blur {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.75);
	/* Fallback to SVG filters */
	filter: url('#blur');
	/* Webkit support */
	-webkit-filter: blur(10px);
	filter: blur(10px);
	z-index: -1;
}

#answerArea li {
	list-style: none;
	font-size: 24px;
}

.guessImg {
	width: 300px;
}

/* Adding my own button style */
.btn-kelly {
  color: lawngreen;
  background-color: #000;
	border-color: lawngreen;
	margin: 20px;
}
.btn-kelly:focus,
.btn-kelly.focus {
  color: lawngreen;
  background-color: #449d44;
  border-color: #255625;
}
.btn-kelly:hover {
  color: lawngreen;
  background-color: #449d44;
  border-color: #398439;
}
.btn-kelly:active,
.btn-kelly.active,
.open > .dropdown-toggle.btn-kelly {
  color: lawngreen;
  background-color: #449d44;
  border-color: #398439;
}
.btn-kelly:active:hover,
.btn-kelly.active:hover,
.open > .dropdown-toggle.btn-kelly:hover,
.btn-kelly:active:focus,
.btn-kelly.active:focus,
.open > .dropdown-toggle.btn-kelly:focus,
.btn-kelly:active.focus,
.btn-kelly.active.focus,
.open > .dropdown-toggle.btn-kelly.focus {
  color: lawngreen;
  background-color: #398439;
  border-color: #255625;
}
.btn-kelly:active,
.btn-kelly.active,
.open > .dropdown-toggle.btn-kelly {
  background-image: none;
}
.btn-kelly.disabled:hover,
.btn-kelly[disabled]:hover,
fieldset[disabled] .btn-kelly:hover,
.btn-kelly.disabled:focus,
.btn-kelly[disabled]:focus,
fieldset[disabled] .btn-kelly:focus,
.btn-kelly.disabled.focus,
.btn-kelly[disabled].focus,
fieldset[disabled] .btn-kelly.focus {
  background-color: #000;
  border-color: lawngreen;
}
.btn-kelly .badge {
  color: #000;
  background-color: lawngreen;
}